alembic
annotated-types
anyio
asyncpg
certifi
click
dnspython
email_validator
fastapi
fastapi-cli
greenlet
h11
httpcore
httptools
httpx
idna
Jinja2
Mako
markdown-it-py
MarkupSafe
mdurl
psycopg2-binary
pydantic
pydantic_core
Pygments
python-dotenv
python-multipart
PyYAML
rich
shellingham
sniffio
SQLAlchemy
sqlmodel
starlette
typer
typing_extensions
uvicorn
uvloop
watchfiles
websockets
shortuuid
passlib
bcrypt
pydantic-settings
python-jose[cryptography]
Faker
pytest
pytest-asyncio
pytest-cov
pylint
